form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"] {
    background: #007bff;
    color: white;
}

button[type="submit"]:hover {
    background: #0056b3;
}

button:last-child {
    background: #28a745;
    color: white;
}

button:last-child:hover {
    background: #218838;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

}

aside{
    width: 50%;
    max-width: 400px;
    background-image: url('public/images/loginAsideBG.jpeg');
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}